@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v3/qFdH35WCmI96Ajtm81GlU94.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: local('Overpass SemiBold'), local('Overpass-SemiBold'), url(https://fonts.gstatic.com/s/overpass/v3/qFdA35WCmI96Ajtm81l6d87N4h8.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html,
body {
  font-family: "Overpass", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #dfd9d9;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.3rem;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.main-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 18rem;
}
section {
  margin-bottom: 15rem;
}
.section-title {
  font-weight: 600;
  color: #f78221;
}
@media (max-width: 800px) {
  .section-title {
    font-size: 4rem;
  }
}
@media (max-width: 800px) {
  .section-title {
    font-size: 3rem;
  }
}
nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0.8rem 1rem;
}
nav .menu {
  font-size: 2rem;
  margin-top: 1rem;
  color: #f78221;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 35px;
  display: none;
  z-index: 1;
  transition: all 0.2s;
}
@media (max-width: 500px) {
  nav .menu {
    top: 50px;
    right: 9px;
  }
}
nav .menu li {
  padding: 2rem;
}
nav .menu li:hover {
  background: #f78221;
  color: #fff;
}
nav .menu li a {
  width: 100%;
}
nav #menu-btn {
  width: 100%;
  background: #fff;
  text-align: center;
  color: #f78221;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: 700;
  font-weight: 600;
  transition: all 0.5s;
}
nav #menu-btn:hover {
  background: #f78221;
  color: #fff;
}
nav .main-menu {
  padding-right: 5rem;
  position: fixed;
  right: 0;
  z-index: 1;
}
@media (max-width: 500px) {
  nav .main-menu {
    padding-right: 1rem;
  }
}
header {
  background: linear-gradient(rgba(247, 130, 33, 0.35), rgba(247, 130, 33, 0.35), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
header::after {
  content: "";
  width: 100%;
  height: 40%;
  bottom: -150px;
  position: absolute;
  background: #dfd9d9;
  transform: 100% 100%;
  clip-path: polygon(0 0, 100% 100%, 0 100%, 0 100%);
}
header::before {
  content: "";
  width: 100%;
  height: 40%;
  bottom: -150px;
  position: absolute;
  background: #f78221;
  transform: 100% 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
}
.header_main {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15rem;
  color: #fff;
  text-align: center;
}
.header_main--container {
  padding: 1rem;
}
.header_main--container .header-title {
  padding-bottom: 3rem;
  font-weight: 800;
  text-shadow: #000 3px 1px 5px;
  font-size: 5rem;
}
@media (max-width: 500px) {
  .header_main--container .header-title {
    padding-bottom: 5rem;
  }
}
.header_main--container p {
  text-align: center;
  padding-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
  text-shadow: #000 3px 1px 5px;
}
@media (max-width: 500px) {
  .header_main--container p {
    padding-bottom: 5rem;
  }
}
.header_main--container .btn {
  width: 30%;
  background: #fff;
  text-align: center;
  color: #f78221;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: 700;
  transition: all 0.5s;
}
.header_main--container .btn:hover {
  background: #f78221;
  color: #fff;
}
.mission {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.mission .section-title {
  border-top: #f78221 solid 1px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-shadow: #fff 3px 1px 5px;
}
@media (max-width: 800px) {
  .mission .section-title {
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}
.mission p:last-child {
  border-bottom: #f78221 solid 1px;
  padding-bottom: 3rem;
  padding-bottom: 6rem;
}
.mission .mission-main {
  align-self: flex-end;
}
@media (max-width: 800px) {
  .mission .mission-main {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .mission .mission-main {
    width: 100%;
    text-align: center;
  }
}
.mission .mission-img {
  width: 30%;
  height: 30%;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .mission .mission-img {
    width: 40%;
    height: 40%;
    margin-top: 10rem;
  }
}
@media (max-width: 500px) {
  .mission .mission-img {
    display: none;
  }
}
.mission .mission-img img:nth-of-type(2) {
  display: none;
}
@media (max-width: 800px) {
  .mission .mission-img img:nth-of-type(2) {
    display: block;
  }
}
.mission .mission-img img {
  border-radius: 5px;
}
@media (max-width: 800px) {
  .mission .mission-img img {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
}
.about-header {
  background: linear-gradient(rgba(247, 130, 33, 0.35), rgba(247, 130, 33, 0.35), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../img/about-us.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100vw;
  height: 100vh;
}
.about-header::after {
  content: "";
  width: 100%;
  height: 40%;
  bottom: -150px;
  position: absolute;
  background: #dfd9d9;
  transform: 100% 100%;
  clip-path: polygon(0 0, 100% 100%, 0 100%, 0 100%);
}
.about-header::before {
  content: "";
  width: 100%;
  height: 40%;
  bottom: -150px;
  position: absolute;
  background: #f78221;
  transform: 100% 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
}
.about-header nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.about-header nav h4 {
  color: #fff;
  text-shadow: #000 3px 1px 5px;
}
@media (max-width: 500px) {
  .about-header nav h4 {
    font-size: 2rem;
    padding-top: 1rem;
  }
}
.about-title {
  font-size: 5rem;
  text-shadow: #000 3px 1px 5px;
}
.about-us .section-title {
  margin-bottom: 2rem;
  text-align: center;
}
.about-us-pic {
  border-radius: 10px;
  width: 300px;
  padding-bottom: 2rem;
  transition: all 0.2s;
}
.about-us-content {
  width: 30%;
  padding-bottom: 5rem;
  text-align: center;
}
@media (max-width: 800px) {
  .about-us-content {
    width: 50%;
    padding-right: 3rem;
  }
}
@media (max-width: 500px) {
  .about-us-content {
    width: 100%;
  }
}
.about-us-name {
  font-size: 2.8rem;
  color: #f78221;
  transition: all 0.2s;
}
.about-us-title {
  font-size: 2rem;
}
.about-us .links a {
  font-size: 1.5rem;
}
.about-us .links a:hover {
  color: #f78221;
}
.about-container {
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 5rem 8rem;
  box-shadow: #fff 20px 10px 200px;
}
.main-services {
  background: #fff;
  box-shadow: #fff 1px 3px 60px;
  border-bottom: #f78221 solid 1px;
  padding-bottom: 3px;
  border-top: #f78221 solid 1px;
  padding-top: 3px;
}
.main-services .section-title {
  text-align: center;
  padding: 5rem 0;
}
.main-services .services-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #fff;
  padding: 3rem 0;
}
@media (max-width: 800px) {
  .main-services .services-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .main-services .services-container {
    padding: 2rem 0;
  }
}
.main-services .services-container .service-1,
.main-services .services-container .service-2 {
  border-right: solid #f78221 1px;
}
@media (max-width: 800px) {
  .main-services .services-container .service-1,
  .main-services .services-container .service-2 {
    width: 100%;
    border-right: none;
    border-bottom: #f78221 solid 1px;
    padding-bottom: 0;
  }
}
.main-services .services-container .service {
  color: #000;
  padding: 2rem;
  width: 33.3%;
}
@media (max-width: 800px) {
  .main-services .services-container .service {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main-services .services-container .service {
    font-size: 1rem;
  }
}
.main-services .services-container .service h3 {
  text-align: center;
  padding: 1rem 0 2.5rem 0;
  font-weight: 600;
}
@media (max-width: 500px) {
  .main-services .services-container .service h3 {
    font-size: 2.8rem;
  }
}
.main-services .services-container .service p {
  line-height: 2;
}
@media (max-width: 500px) {
  .main-services .services-container .service p {
    font-size: 1.5rem;
  }
}
.main-services .services-container .icon {
  width: 50%;
  height: 50%;
  margin-left: 10rem;
  margin-bottom: 1rem;
}
@media (max-width: 800px) {
  .main-services .services-container .icon {
    margin-left: 19rem;
    margin-bottom: 2.5rem;
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 500px) {
  .main-services .services-container .icon {
    margin-left: 13rem;
  }
}
.testimonial .testimonial-content {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: #fff 1px 3px 100px;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 3px;
  border-bottom: #f78221 solid 1px;
  padding-bottom: 3rem;
  border-top: #f78221 solid 1px;
  padding-top: 3rem;
}
.testimonial .testimonial-content:hover {
  background: #fff;
  transition: background 0.5s;
}
@media (max-width: 800px) {
  .testimonial .testimonial-content {
    width: 100%;
    background: #fff;
  }
}
@media (max-width: 500px) {
  .testimonial .testimonial-content {
    flex-direction: column;
    background: #fff;
  }
}
.testimonial .content-img {
  width: 250px;
  padding-right: 3rem;
}
@media (max-width: 800px) {
  .testimonial .content-img {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 500px) {
  .testimonial .content-img {
    width: 70%;
    margin: 0 auto;
  }
}
.testimonial .content-img_caption {
  text-align: center;
  font-size: 1.5rem;
  color: #f78221;
  padding-top: 0.5rem;
}
@media (max-width: 500px) {
  .testimonial .content-img_caption {
    margin-bottom: 2rem;
  }
}
.testimonial .content-img img {
  border-radius: 50%;
}
@media (max-width: 800px) {
  .testimonial .content-img img {
    border-radius: 30%;
  }
}
.testimonial .content-para {
  opacity: 0;
}
.testimonial .content-header {
  font-size: 2rem;
  color: #f78221;
  padding-bottom: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  transition: color 0.5s;
}
.see-more {
  width: 70%;
  margin: 0 auto;
  text-decoration: #000 underline solid;
  cursor: pointer;
}
.see-more:hover {
  color: #f78221;
  text-decoration: #f78221 underline solid;
  transition: all 0.5;
}
.sign-up {
  color: #fff;
  margin-bottom: 5rem;
  padding: 10rem;
  text-shadow: #000 3px 1px 5px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  position: relative;
  background: linear-gradient(rgba(247, 130, 33, 0.45), rgba(247, 130, 33, 0.45), rgba(247, 130, 33, 0.45), rgba(0, 0, 0, 0.45)), url("../img/sign-up.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  border-radius: 3px;
}
@media (max-width: 800px) {
  .sign-up {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .sign-up {
    background-position: center;
  }
}
.sign-up p {
  padding: 2rem;
}
.sign-up .section-title {
  color: #fff;
  padding: 1.5rem;
  font-size: 2.5rem;
}
.sign-up .sign-up_main {
  width: 60%;
}
@media (max-width: 800px) {
  .sign-up .sign-up_main {
    width: 100%;
  }
}
.sign-up .sign-up_button {
  padding: 0 15rem;
  width: 40%;
}
@media (max-width: 800px) {
  .sign-up .sign-up_button {
    width: 70%;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .sign-up .sign-up_button {
    width: 100%;
  }
}
.sign-up .sign-up_button .btn {
  width: 100%;
  background: #f78221;
  text-align: center;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-weight: 700;
  transition: all 0.5s;
}
.sign-up .sign-up_button .btn:hover {
  background: #fff;
  color: #f78221;
}
footer {
  background: #f78221;
  padding-top: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
footer h4 {
  font-size: 2rem;
  margin-top: 2rem;
}
footer h4 a:hover {
  border-bottom: solid #fff;
}
footer nav li {
  padding: 2rem;
  font-size: 2rem;
}
footer nav li a:hover {
  border-bottom: solid #fff;
}
footer p {
  text-align: center;
  justify-self: center;
  align-self: flex-end;
  width: 100%;
}
