.feature {
  //   border-right: @second-color 2px solid;
  //   border-left: @second-color 2px solid;

  .testimonial-content {
    .flex-content(center, center);
    padding: 2rem;
    background: @white;
    // transform: skewX(-12deg);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .content-img {
    max-width: 20%;
    height: 20%;
    // transform: skewX(12deg);

    img {
      border-radius: 50%;
    }
  }

  p {
    // transform: skewX(12deg);
  }
}
