.feature {
  //   border-right: @second-color 2px solid;
  //   border-left: @second-color 2px solid;

  .testimonial-content {
    .flex-content(center, center);
    padding: 2rem;
    background: @white;
    // transform: skewX(-12deg);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .content-img {
    width: 40%;
    height: 40%;
    padding-right: 3rem;

    figcaption {
      text-align: center;
      font-size: 1.5rem;
      color: @second-color;
    }

    img {
      border-radius: 50%;
    }
  }

  h4 {
    font-size: 2rem;
    color: @second-color;
    padding-bottom: 1rem;
    font-weight: 600;
  }
}
