footer {
  background: @second-color;
  padding-top: 2rem;
  color: @white;
  .flex-content(space-around, center);
  flex-wrap: wrap;

  h4 {
    font-size: 2rem;
    margin-top: 2rem;

    a:hover {
      border-bottom: solid @white;
    }
  }

  nav li {
    padding: 2rem;
    font-size: 2rem;

    a:hover {
      border-bottom: solid @white;
    }
  }

  p {
    text-align: center;
    justify-self: center;
    align-self: flex-end;
    width: 100%;
  }
}
