header {
  background: linear-gradient(
      rgba(@second-color, 0.35),
      rgba(@second-color, 0.35),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("img/header.jpg");
  -webkit-background: linear-gradient(
      rgba(@second-color, 0.35),
      rgba(@second-color, 0.35),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100vw;
  height: 100vh;

  &::after {
    content: "";
    width: 100%;
    height: 55%;
    bottom: -150px;
    position: absolute;
    background: @main-color;
    transform: 100% 100%;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%, 0 100%);
  }

  &::before {
    content: "";
    width: 100%;
    height: 55%;
    bottom: -150px;
    position: absolute;
    background: @second-color;
    transform: 100% 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
  }
}

.header_main {
  .flex-content(center, center);
  padding-top: 15rem;
  color: @white;
  text-align: center;
  @media @mobile {
    padding-top: 10rem;
  }

  &--container {
    padding: 1rem;

    .header-title {
      padding-bottom: 3rem;
      font-weight: 800;
      .text-shadow(@black);
      font-size: 5rem;
      @media @mobile {
        font-size: 5.5rem;
        padding-bottom: 5rem;
      }
    }

    p {
      text-align: center;
      padding-bottom: 3rem;
      font-weight: 300;
      font-size: 2rem;
      text-shadow: @black 3px 1px 5px;
      @media @mobile {
        font-size: 2.5rem;
        padding-bottom: 5rem;
      }
    }

    .btn {
      .btn-style(30%, @white, @second-color);
      // margin-left: 20rem;
    }
  }
}
