.mission {
  .flex-content(space-around, center);

  .section-title {
    .border-thin-top(5rem);
    padding: 6rem 0 3rem 0;
    .text-shadow(@white);
  }

  p:last-child {
    .border-thin-bottom(3rem);
    padding-bottom: 6rem;
  }

  .mission-main {
    align-self: flex-end;
  }

  .mission-img {
    width: 30%;
    height: 30%;
    margin-top: 2rem;

    img {
      border-radius: 5px;
    }
  }
}
