nav {
  .flex-content(flex-end, center);
  padding: 0.8rem 1rem;

  .menu {
    font-size: 2rem;
    margin-top: 1rem;
    color: @second-color;
    background: @white;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 35px;
    display: none;
    z-index: 1;
    transition: all 0.2s;

    @media @mobile {
      top: 50px;
      right: 9px;
    }
    li {
      padding: 2rem;

      &:hover {
        background: @second-color;
        color: @white;
      }

      a {
        width: 100%;
      }
    }
  }
  #menu-btn {
    .btn-style(100%, @white, @second-color);
    font-weight: 600;
    transition: all 0.5s;
  }
  .main-menu {
    padding-right: 5rem;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: all 0.5s;

    @media @mobile {
      padding-right: 1rem;
    }
  }
}

// .menu-hidden {
//   display: none;
// }
