.testimonial {
  border-top: @second-color solid 0.5px;
  border-bottom: @second-color solid 0.5px;
  border-radius: 3px;
  box-shadow: @white 1px 3px 60px;

  @media @tablet {
    padding-bottom: 2rem;
  }

  .section-title {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
    letter-spacing: 0.2rem;

    @media @tablet {
      text-align: center;
      margin-left: 0;
    }

    @media @mobile {
      padding-bottom: 3rem;
    }
  }
  .testimonial-content {
    .flex-content(center, center);
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5rem;
    border-radius: 10px;
    background: rgba(@white, 0.65);
    transition: all 0.5s;
    border: @second-color solid 0.5px;
    @media @tablet {
      width: auto;
      background: @white;
      margin: 0 0 2rem 0;
      border-bottom: none;
      border-radius: 3px;
    }
    @media @mobile {
      flex-direction: column;
      background: @white;
    }
  }
  .content-img {
    width: 250px;
    display: none;
    transition: all 0.6s;

    @media @tablet {
      width: 80%;
      height: 80%;
      display: block;
      padding-right: 2rem;
    }
    @media @mobile {
      width: 70%;
      margin: 0 auto;
    }

    &_caption {
      text-align: center;
      font-size: 2rem;
      color: @second-color;
      padding-top: 0.5rem;
      @media @mobile {
        margin-bottom: 2rem;
        font-weight: 800;
      }
    }

    img {
      border-radius: 50%;
      @media @tablet {
        border-radius: 30%;
      }
    }
  }

  .content-para {
    opacity: 0;
    height: 0px;
    font-size: 2rem;
    @media @tablet {
      opacity: 1;
      height: auto;
      font-size: 1.8rem;
    }
  }

  .content-header {
    font-size: 2.7rem;
    color: @second-color;
    padding-bottom: 1rem;
    font-weight: 600;
    margin-top: 2rem;
    transition: all 0.6s;
    text-transform: uppercase;

    @media @tablet {
      letter-spacing: 0;
      font-size: 2rem;
      font-weight: 800;
    }
  }
}

.see-more {
  width: 20%;
  margin: 0 auto;
  text-decoration: @black underline solid;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  @media @tablet {
    display: none;
  }
  &:hover {
    color: @second-color;
    text-decoration: @second-color underline solid;
    transition: all 0.5;
  }
}
